@font-face {
    font-family: Montserrat_Medium;
    src: url(fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
    font-family: Montserrat_SemiBold;
    src: url(fonts/Montserrat/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: NunitoSans_Regular;
    src: url(fonts/Nunito_Sans/NunitoSans-Regular.ttf);
}

        // header nav

* {
    border: 1px solid black;
   // margin: 0 auto;
    padding: 0;
}

.wrapper-nav {
    background: url(images/bg_header2.jpg) no-repeat center;
    margin: 0 auto;
    padding: 0;
}

.header-nav {
    height: 670px;
}
        
.navbar-expand-lg {
    margin-top: 36px;
    margin: 0 auto;
    .navbar-toggler {
        border: 1px solid #000000;
    }
    .navbar-collapse {
        .navbar-nav {
            .nav-item {
                .nav-link {
                    font-size: 12px;
                    line-height: 24px;
                    letter-spacing: 0.01em;
                    font-family: Montserrat_Medium;
                    //font-weight: bold;
                    color: #191919;
                    margin-left: 10px;
                    &:hover {
                        color: #10c9c3;
                    }
                }
            }
        }
    }
}

.header-content {
    margin-top: 150px;
    .h2-title {
        font-family: Montserrat_Medium;
        font-size: 38px;
        line-height: 48px;
        letter-spacing: 0.001em;
        color: #1d1d1d;
    }
    p {
        font-family: NunitoSans_Regular;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.005em;
        color: #787878;
        margin-bottom: 40px;
    }
    .btn {
        padding: 21px 45px;
        font-size: 12px;
        //line-height: 84px;
        letter-spacing: 0.01em;
        //font-weight: bold;
        font-family: Montserrat_Medium;
        border-radius: 0;
        border: none;
        background: #fff;
        &:hover {
            color: white;
            background-color: #10c9c3;
        }
    }
}

        // header nav end

        // about us section

.wrap-about-us {
    height: 420px;
    background-color: #ffffff;
    .container {
        margin: 0 auto;
        margin-top: 80px;
        .content-about-us {
            h3 {
                //margin-bottom: 25px;
                font-family: Montserrat_Medium;
                font-size: 30px;
                line-height: 60px;
                letter-spacing: 0.001em;
            }
            p {
                text-align: center;
                margin-bottom: 25px;
                color: #787878;
                font-family: NunitoSans_Regular;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.005em;
            }
        }
    }
}

        // about us section end

        // Professional skills

.wrapper-professional-skills {
    background: url(images/bg_7.jpg) no-repeat center;
    height: 570px;
    .professional-skills-content {
        background-color: #ffffff;
        height: inherit;
    }
    .text-left {
       margin-top: 120px;
       font-family: Montserrat_SemiBold;
       font-weight: bold;
        h2 {
            color: #171717;
            font-size: 30px;
            line-height: 84px;
            letter-spacing: 0.001em;
        }

        h2, h6 {
            margin-bottom: 10px;
        }

        h6, h6 span {
            font-size: 12px;
            line-height: 30px;
            letter-spacing: 0.01em;    
        }
        
        h6 span {
            margin-left: 10px;
            } 

        img {
            margin-bottom: 20px; 
        }
    }
}

        // Professional skills end

        // adventages




        // adventages end


       
